input[type=checkbox]:checked+label {
    color: red;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

input:required {
    border-width: 5px;
}

input:optional {
    border-width: 10px;
}

input:out-of-range {
    background-color: pink;
}

input:in-range {
    background-color: lightgreen;
}

body {
    counter-reset: invalidCount;
}

:invalid {
    background-color: pink;
    counter-increment: invalidCount;
}

p:before {
    content: "You have " counter(invalidCount) " invalid entries";
}